@media screen and (max-width: 650px)
{
  .dc-main-menu__desktop
  {
    display: none !important;
  }

  .dc-main-menu__phone
  {
    display: inherit !important;
  }

  .dc-main-menu__tablet
  {
    display: none !important;
  }
}

@media screen and (min-width: 651px) and (max-width: 1120px)
{
  .dc-main-menu__desktop
  {
    display: none !important;
  }

  .dc-main-menu__phone
  {
    display: none !important;
  }

  .dc-main-menu__tablet
  {
    display: inherit !important;
  }
}

@media screen and (min-width: 1121px)
{
  .dc-main-menu__desktop
  {
    display: inherit !important;
  }

  .dc-main-menu__phone
  {
    display: none !important;
  }

  .dc-main-menu__tablet
  {
    display: none !important;
  }
}

body {
}

.dc-main-menu
{
  border: 1px solid grey;
}

.dc-main-menu__desktop
{
  position: absolute;
  left: -140px;
  top: 80px;

  width: 140px;
  height: 300px;
  display: block;
}

.dc-main-menu__phone
{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  display: block;
}

.dc-main-menu__tablet
{
  position: fixed;
  left: 0px;
  top: 100px;

  width: 140px;
  height: 300px;
  display: block;
}